  .titlebar {
    height: 40px;
    background: #2b3035;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    app-region: drag;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000000; /* Ensure it's on top of other elements */
    font-family: Arial, serif;
  }
  /*This is the Main Game*/
  #root {

  }
  /*These are the Slide Out things like the shop and the settings window.*/
  .css-wpcgs8, .css-dcdgaq, #PartyDrawer {

}
/*Using Root to control the variables, ALWAYS USE !important AT THE END OF THESE SO THEY OVERRIDE */
:root {
  --sait: 40px !important;
}